<aside class="sidebar" [class.collapsed]="collapsed" [class.overlay-open]="overlayOpen">
  <mat-nav-list>
    <a *ngFor="let item of items" mat-list-item
      [routerLink]="item.route"
      routerLinkActive="active-item"
      [matTooltip]="collapsed ? item.label : ''"
      matTooltipPosition="right">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle [class.visually-hidden]="collapsed">{{ item.label }}</span>
    </a>
  </mat-nav-list>

  <div class="sidebar-spacer"></div>

  <div class="sidebar-footer">
    <button class="theme-toggle-btn" (click)="toggleTheme()"
      [matTooltip]="collapsed ? (isDark ? 'Modo claro' : 'Modo oscuro') : ''"
      matTooltipPosition="right">
      <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
      <span [class.visually-hidden]="collapsed">{{ isDark ? 'Modo claro' : 'Modo oscuro' }}</span>
    </button>
  </div>
</aside>
