<aside class="sidebar" [class.collapsed]="collapsed" [class.overlay-open]="overlayOpen">
  <div class="sidebar-brand" [class.collapsed]="collapsed">
    <img [src]="logoPath$ | async" alt="RecetAR" class="sidebar-logo">
  </div>

  <mat-nav-list>
    <a *ngFor="let item of items" mat-list-item
      [routerLink]="item.route"
      routerLinkActive="active-item"
      [matTooltip]="collapsed ? item.label : ''"
      matTooltipPosition="right">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle [class.visually-hidden]="collapsed">{{ item.label }}</span>
    </a>
  </mat-nav-list>
</aside>
