<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <mat-form-field appearance="fill" fxFlex="80">
    <mat-label>Organización</mat-label>
    <mat-select [formControl]="organizacionControl" [disabled]="disabled" [compareWith]="compareOrganizaciones">
      @for (organizacion of organizaciones; track organizacion) {
        <mat-option [value]="organizacion">
          {{ organizacion.nombre }}@if (organizacion?.direccion) {
          <span> - {{ organizacion.direccion }}</span>
        }
      </mat-option>
    }
  </mat-select>
  @if (organizacionControl.hasError('required')) {
    <mat-error>
      Debe seleccionar una organización
    </mat-error>
  }
</mat-form-field>

<button mat-raised-button color="primary" type="button" (click)="openOrganizacionDialog()"
  [disabled]="disabled || isAddingOrganizacion">
  @if (isAddingOrganizacion) {
    <mat-spinner diameter="20" color="primary"></mat-spinner>
  }
  @if (!isAddingOrganizacion) {
    <mat-icon>add</mat-icon>
  }
  @if (!isAddingOrganizacion) {
    <span>Agregar Organización</span>
  }
  @if (isAddingOrganizacion) {
    <span>Guardando...</span>
  }
</button>
</div>