<div class="custom-tab-link-bar" [class.two-elements]="isAmbitoPublico()">
    <button mat-flat-button (click)="showForm()">Medicamentos</button>
    <button mat-flat-button (click)="showCertificados()" *ngIf="!isAmbitoPublico()">Certificados</button>
    <button mat-flat-button (click)="showPractices()" *ngIf="!isAmbitoPublico()">Prácticas</button>
    <button mat-flat-button (click)="showList()">Mis documentos</button>
</div>
<div class="link-bar-indicator-container">
    <div class="indicator"
        [@stepLink]="isAmbitoPublico() ?
            (currentTab === 'form' ? 'left-2' : 'right-2') :
            (currentTab === 'form' ? 'left' : currentTab === 'certificates' ? 'center-left' : currentTab === 'practices' ? 'center-right' : 'right')">
    </div>
</div>
<div class="pf-container">
    <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="20px" class="cards-container" fxFill
        [@step]="currentTab === 'form' ? 'left' : currentTab === 'certificates' ? 'center-left' : currentTab === 'practices' ? 'center-right' : 'right'">
        <!-- panel "Formulario receta" -->
        <div class="prescription-panel" *ngIf="currentTab === 'form'">
            <mat-card fxLayout="column" fxLayoutAlign="space-between" class="new-prescription">
                <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-title>
                        <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                            <mat-icon>gesture</mat-icon> <span>
                                Registrar nueva receta </span>
                        </h2>
                    </mat-card-title>

                    <mat-card-content>
                        <form [formGroup]="professionalForm" #professionalNgForm="ngForm" fxLayout="column"
                            (ngSubmit)="onSubmitProfessionalForm(professionalNgForm)">
                            <div class="sub-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0"
                                fxLayoutGap.xs="0">

                                <div class="first-block" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
                                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"
                                        fxLayoutAlign.xs="center center">
                                        <!-- Fecha de receta -->
                                        <mat-form-field appearance="fill" fxFlex="100">
                                            <mat-label>Fecha receta</mat-label>
                                            <input matInput [matDatepicker]="picker1" [formControl]="date"
                                                [min]="minDate" [max]="maxDate"
                                                autocomplete="off" required tabIndex="-1" readonly="true">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker [startAt]="today" #picker1></mat-datepicker>

                                            <mat-error *ngIf="date.errors?.required">
                                                Debe ingresar una fecha válida
                                            </mat-error>
                                        </mat-form-field>
                                        <div class="check" fxFlex="100">
                                            <mat-checkbox formControlName="trimestral">Generar receta trimestral
                                            </mat-checkbox>
                                        </div>
                                    </div>

                                    <app-patient-form #patientForm [showObraSocial]="true" [appearance]="'fill'" [layout]="'row'"
                                                      formControlName="patient">
                                    </app-patient-form>
                                    <app-efectores-selector formControlName="efector">
                                    </app-efectores-selector>
                                </div>
                                <div formArrayName="supplies" class="nested-supplies">
                                    <div class="custom-error-container">
                                        <mat-error
                                            *ngIf="suppliesForm.errors?.minLengthFilled && suppliesForm.invalid && suppliesForm.touched">
                                            Debe seleccionar al menos un medicamento
                                        </mat-error>
                                    </div>
                                    <!-- Medicamento -->
                                    <div *ngFor="let control of suppliesForm.controls; let i=index" [formGroupName]="i"
                                        fxLayout="row" fxLayoutGap="10px">
                                        <mat-card class="supply-card" fxFlex="100">
                                            <div *ngIf="i>0" fxLayout="row" class="btnDelete">
                                                <button mat-icon-button color="warn" (click)="deleteSupply(i)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="10px">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Medicamento</mat-label>

                                                    <input type="text" [tabIndex]="4 + i" placeholder="Medicamento"
                                                        matInput [formControl]="control.get('supply.name')" required
                                                        [matAutocomplete]="supplyref">
                                                    <mat-spinner matSuffix [color]="spinnerColor" [diameter]="20"
                                                        *ngIf="supplySpinner[i].show"></mat-spinner>
                                                    <mat-autocomplete #supplyref="matAutocomplete"
                                                        (optionSelected)="onSupplySelected($event.option.value, i)">
                                                        <mat-option *ngFor="let sup of filteredSupplies" [value]="sup">
                                                            {{sup.term}}
                                                        </mat-option>
                                                    </mat-autocomplete>

                                                    <mat-error *ngIf="control.get('supply.name').hasError('required')">
                                                        Debe seleccionar un insumo
                                                    </mat-error>
                                                    <mat-error *ngIf="control.get('supply.name').hasError('invalid')">
                                                        {{ control.get('supply').getError('invalid') }}
                                                    </mat-error>
                                                </mat-form-field>

                                            </div>

                                            <div fxLayout="row" fxLayoutGap="10px">
                                                <!-- Cantidad por presentacion-->
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Cantidad</mat-label>
                                                    <input [tabIndex]="5 + i" type="number" matInput
                                                        formControlName="quantityPresentation" required>
                                                    <mat-error
                                                        *ngIf="control.get('quantityPresentation').hasError('required')">
                                                        Debe ingresar una cantidad
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="control.get('quantityPresentation').hasError('min')">
                                                        Debe ingresar un mínimo de
                                                        {{control.get('quantityPresentation').errors?.min.min}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row" fxLayoutGap="10px">
                                                <!-- Cantidad de envase-->
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Cantidad de envases</mat-label>
                                                    <input [tabIndex]="5 + i" type="number" matInput
                                                        formControlName="quantity" required>
                                                    <mat-error *ngIf="control.get('quantity').hasError('required')">
                                                        Debe ingresar una cantidad
                                                    </mat-error>
                                                    <mat-error *ngIf="control.get('quantity').hasError('min')">
                                                        Debe ingresar un mínimo de
                                                        {{control.get('quantity').errors?.min.min}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row" fxLayoutGap="10px">
                                                <mat-checkbox fxFlex="50%" matInput formControlName="duplicate">Receta
                                                    por
                                                    duplicado
                                                </mat-checkbox>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="10px">
                                                <mat-checkbox fxFlex="50%" matInput formControlName="triplicate">Receta
                                                    por
                                                    triplicado
                                                </mat-checkbox>
                                                <div formGroupName="triplicateData" fxLayout="row" fxLayoutGap="10px">
                                                    <mat-form-field appearance="fill" fxFlex="50%">
                                                        <mat-label>Serie</mat-label>
                                                        <input type="text" matInput formControlName="serie"
                                                               maxlength="1" placeholder="Ingrese una letra" required>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="fill" fxFlex="50%">
                                                        <mat-label>Número</mat-label>
                                                        <input type="number" matInput formControlName="numero"
                                                               placeholder="Ingrese un número" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <span *ngIf="control.get('triplicate')?.value"
                                                  style="position: relative; font-style: italic; bottom: 15px;">
                                                Recuerde que sigue
                                                siendo
                                                obligatoria la
                                                entrega del formulario triplicado en papel
                                            </span>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Diagnóstico</mat-label>
                                                <textarea matInput placeholder="Diagnóstico"
                                                    formControlName="diagnostic" required></textarea>
                                                <mat-error *ngIf="control.get('diagnostic').hasError('required')">
                                                    Debe ingresar un diagnóstico
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Indicaciones</mat-label>
                                                <textarea matInput placeholder="Indicaciones"
                                                    formControlName="indication"></textarea>
                                            </mat-form-field>
                                        </mat-card>
                                    </div>
                                </div>
                                <button mat-raised-button color="primary" type="button" (click)="addSupply()"
                                    *ngIf="suppliesForm.controls.length < maxQSupplies">
                                    Agregar medicamento
                                </button>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center">
                                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" *ngIf="!isSubmit"
                                    fxFlex="100%">
                                    <button mat-raised-button type="button" *ngIf="isEdit" fxFlex="100%"
                                        (click)="clearForm(professionalNgForm)">
                                        Cancelar
                                    </button>

                                    <button mat-raised-button color="primary" type="submit" fxFlex="100%">
                                        Crear
                                    </button>
                                </div>

                                <mat-spinner [color]="spinnerColor" [diameter]="spinnerDiameter" *ngIf="isSubmit">
                                </mat-spinner>
                            </div>
                        </form>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>

        <!-- panel "Prácticas" -->
        <div class="practices-panel" *ngIf="currentTab === 'practices'">
            <app-practices-form></app-practices-form>
        </div>

        <div class="my-prescriptions-panel" *ngIf="currentTab === 'list'">
            <app-prescriptions-list (editPrescriptionEvent)="editPrescription($event)"
                (anulateCertificateEvent)="showCertificados()"></app-prescriptions-list>
        </div>

        <div class="certificates-panel" *ngIf="currentTab === 'certificates'">
            <app-certificate-form (anulateCertificateEvent)="anulateCertificate()"
                (certificateCreatedEvent)="onCertificateCreated()"></app-certificate-form>
        </div>
    </div>