<mat-toolbar *ngIf="isLoggedIn$ | async">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20" class="container-header">
    <button mat-button>
      <img src="assets/img/LogoRecetar.png" class="icon-navbar">
      RecetAR
    </button>

    <mat-toolbar-row *ngIf="isAuditRole$|async"> 
      <a mat-button [routerLink]="['/audit/users']">Usuarios</a>
      <a mat-button [routerLink]="['/audit/recetas/auditar']">Recetas_farmacias</a> 
    </mat-toolbar-row>
    

   

    <div>
      <button mat-button [matMenuTriggerFor]="menu">{{businessName$ | async}}</button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/auth/reset-password']">Cambiar contraseña</a>
        <button mat-menu-item (click)="logout()">Salir</button>
      </mat-menu>
    </div>

  </div>
</mat-toolbar>
