<mat-toolbar *ngIf="isLoggedIn$ | async" class="header-toolbar">
  <div class="header-container">
    <div class="header-left-section">
      <div class="menu-area">
        <button mat-icon-button class="menu-button" (click)="menuClick.emit()"
          matTooltip="Menú">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="brand">
        <img [src]="logoPath$ | async" alt="RecetAR" class="brand-logo">
      </div>
    </div>

    <div class="header-right-section">
      <div class="user-menu-wrapper" [class.open]="menuOpen">
        <button class="user-trigger" [matMenuTriggerFor]="menu">
          <span class="user-avatar">{{ userInitials }}</span>
          <span class="user-info">
            <span class="user-info-name">{{ businessName$ | async }}</span>
            <span *ngIf="roleLabel" class="user-info-role">{{ roleLabel }}</span>
          </span>
          <span class="user-chevron">
            <svg viewBox="0 0 24 24" width="16" height="16"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>
          </span>
        </button>
        <mat-menu #menu="matMenu" panelClass="user-menu-panel"
          (menuOpened)="toggleMenu(true)" (menuClosed)="toggleMenu(false)">
          <div class="menu-header" *ngIf="isMobile">
            <span class="menu-avatar">{{ userInitials }}</span>
            <div>
              <div class="menu-user-name">{{ businessName$ | async }}</div>
              <div *ngIf="roleLabel" class="menu-user-role">{{ roleLabel }}</div>
            </div>
          </div>
          <hr class="menu-divider">
          <button mat-menu-item [routerLink]="['/auth/reset-password']">
            <mat-icon matMenuItemIcon>lock</mat-icon>
            <span>Cambiar contraseña</span>
          </button>
          <button mat-menu-item [routerLink]="editProfileLink$ | async">
            <mat-icon matMenuItemIcon>person</mat-icon>
            <span>Editar información</span>
          </button>
          <button *ngIf="isProfessionalBothRoles$|async" mat-menu-item
            [routerLink]="['/profesionales/seleccionador-ambito']">
            <mat-icon matMenuItemIcon>swap_horiz</mat-icon>
            <span>Cambiar ámbito</span>
          </button>
          <hr class="menu-divider">
          <button mat-menu-item (click)="logout()" class="danger-item">
            <mat-icon matMenuItemIcon>exit_to_app</mat-icon>
            <span>Salir</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
