<div class="wrapper">
  <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="20px" class="cards-container" fxFill>


    <div class="user-panel">

      <mat-card fxLayout="column" fxLayoutAlign="space-between">
        <mat-card-title>
          <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>person</mat-icon>
            <span>
              Usuarios
            </span>
            <!--
            
            <button mat-stroked-button (click)="generateReport()">Generar reporte</button>
            -->
          </h2>
        </mat-card-title>
        <mat-card-content>



          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>

          <div class="container mat-elevation-z8">
            <div class="table-container" *ngIf="!loadingUsers">
              <table mat-table [dataSource]="dataSource" matSort #tbSort="matSort" multiTemplateDataRows>

                <!-- Name Column -->
                <ng-container matColumnDef="businessName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element" class='title-cell' test data-label='Nombre'>
                    <mat-icon *ngIf="element.roles[0].role === 'professional'" matTooltip="Profesional">medical_services</mat-icon>
                    <mat-icon *ngIf="element.roles[0].role === 'pharmacist'" matTooltip="Farmacia">local_pharmacy</mat-icon>
                    <mat-icon *ngIf="element.roles[0].role === 'auditor'" matTooltip="Auditor">health_and_safety</mat-icon>
                    <span>{{element.businessName.toUpperCase() }}</span>
                  </td>
                </ng-container>


                <!-- Cuil column -->
                <ng-container matColumnDef="cuil">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CUIL </th>
                  <td mat-cell *matCellDef="let element" class="m-card-sub-title" data-label="Cuil">
                    {{ element.cuil }}
                  </td>
                </ng-container>

                <!-- Enrollment column -->
                <ng-container matColumnDef="enrollment">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricula </th>
                  <td mat-cell *matCellDef="let element" class="m-card-sub-title" data-label="Matricula">
                    {{ element.enrollment }}
                  </td>
                </ng-container>

                <!--- Status column -->
                <ng-container matColumnDef="isActive">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element"  data-label="Estado">
                    <button mat-raised-button color="primary" *ngIf="element.isActive === false"
                      (click)="activateUser(element)">Activar</button>
                    <button mat-raised-button color="warn" *ngIf="element.isActive === true"
                      (click)="deactivateUser(element)">Desactivar</button>
                  </td>
                </ng-container>

                <!--- Last login column -->
                <ng-container matColumnDef="lastLogin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultimo inicio de sesión </th>
                  <td mat-cell *matCellDef="let element" class="m-card-sub-title" data-label="Ultimo inicio de sesión">
                    {{ element.lastLogin | date : 'dd/MM/yyyy' }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row">
                  <!-- 
                [class.expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row">
                 -->
                </tr>

              </table>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="loading-users" *ngIf="loadingUsers">
              <mat-spinner matSuffix color="primary" [diameter]="40"></mat-spinner>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
          </div>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>