<div class="selector-ambito">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Selecciona el ámbito</mat-card-title>
            <mat-card-subtitle>Selecciona el ámbito de tu actividad profesional</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="ambito-buttons">
                <button mat-raised-button color="primary" type="button"
                    [class.selected]="ambito === 'publico'"
                    (click)="seleccionarAmbito('publico')"
                >
                    Público
                </button>
                <button mat-raised-button color="primary" type="button"
                    [class.selected]="ambito === 'privado'"
                    (click)="seleccionarAmbito('privado')"
                >
                    Privado
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>