<h2 mat-dialog-title>Agregar Nuevo Efector</h2>

<mat-dialog-content>
    <form [formGroup]="efectorForm" fxLayout="column" fxLayoutGap="20px">
        <mat-form-field appearance="fill">
            <mat-label>Nombre del Efector</mat-label>
            <input
                matInput
                formControlName="nombre"
                placeholder="Escriba al menos 3 caracteres"
                [matAutocomplete]="efectorAutocomplete"
                (input)="onNombreInput()">
            <mat-spinner matSuffix [color]="spinnerColor" [diameter]="20"
                *ngIf="spinnerLoading"></mat-spinner>
            <mat-autocomplete
                #efectorAutocomplete="matAutocomplete"
                [displayWith]="displayOrganizacion"
                (optionSelected)="onEfectorSelected($event)">
                <mat-option *ngFor="let efector of filteredEfectores" [value]="efector">
                    {{ efector.nombre }}
                    <span *ngIf="getDireccionTexto(efector)"> - {{ getDireccionTexto(efector) }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nombre?.hasError('required')">
                El nombre es requerido
            </mat-error>
            <mat-error *ngIf="nombre?.hasError('minlength')">
                El nombre debe tener al menos 3 caracteres
            </mat-error>
            <mat-error *ngIf="nombre?.hasError('invalidSelection')">
                Debe seleccionar un efector de la lista
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="efectorForm.invalid">
        Guardar
    </button>
</mat-dialog-actions>