@import 'styles/_variables'

:host
  display: block
  height: $footer-height !important
  @media (min-width: $x-small-devices) and (max-width: $small-devices)
    height: auto

.logo-01, .logo-02, .logo-03
  max-height: 45px
  width: auto
  object-fit: contain
  
  @media (max-width: $medium-devices)
    max-height: 35px
    
  @media (max-width: $small-devices)
    max-height: 30px

footer
  width: 100%
  padding: 10px 0
  align-items: center
  min-height: 60px
  max-height: 80px
  
  img
    max-height: 50px
    width: auto
    object-fit: contain
    margin: 0 10px
