<div [ngSwitch]="data.dialogType">

    <div *ngSwitchCase="'created'">
        <h3 mat-dialog-title><mat-icon>check</mat-icon> Creada</h3>
        <div mat-dialog-content>
            <p>La receta se ha creado correctamente!</p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
        </div>
    </div> <!-- End case noPrescriptions -->

    <div *ngSwitchCase="'created_certificate'">
        <h3 mat-dialog-title><mat-icon>check</mat-icon> Creado</h3>
        <div mat-dialog-content>
            <p>El certificado se ha creado correctamente!</p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" style="background-color: green; color: white;"
                    (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
        </div>
    </div>

    <div *ngSwitchCase="'updated'">
        <h3 mat-dialog-title><mat-icon>check</mat-icon> Modificado</h3>
        <div mat-dialog-content>
            <p>La receta se ha modificado correctamente!</p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
        </div>
    </div> <!-- End case noPrescriptions -->

    <div *ngSwitchCase="'delete'">
        <h3 mat-dialog-title><mat-icon>delete</mat-icon> Desea eliminar la receta?</h3>
        <div mat-dialog-content>
            <p>Receta de {{data.prescription.patient.lastName}}, {{data.prescription.patient.firstName}}</p>
            <p>Una vez eliminada no se podrá recuperar</p>
        </div>
        <div mat-dialog-actions fxLayoutAlign="space-around" align="end">
            <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
            <button mat-raised-button color="warn" (click)="deletePrescription(data.prescription)">Confirmar</button>
        </div>
    </div> <!-- End case noPrescriptions -->

    <div *ngSwitchCase="'delete_certificate'">
        <h3 mat-dialog-title><mat-icon>delete</mat-icon> Desea eliminar el certificado?</h3>
        <div mat-dialog-content>
            <p>El certificado de {{data.prescription.patient.lastName}}, {{data.prescription.patient.firstName}}</p>
            <p>Una vez eliminado no se podrá recuperar</p>
        </div>
        <div mat-dialog-actions fxLayoutAlign="space-around" align="end">
            <button mat-button (click)="onNoClick()"
                    style="background-color: red; color: white; margin-right: 5px;">Cancelar</button>
            <button mat-raised-button style="background-color: green; color: white;"
                    (click)="deleteCertificate(data)">Confirmar</button>
        </div>
    </div>
    <div *ngSwitchCase="'practiceSuccess'">
        <h3 mat-dialog-title><mat-icon>check</mat-icon> Creada</h3>
        <div mat-dialog-content>
            <p>La práctica se ha creado correctamente!</p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button style="background-color: green; color: white;" (click)="onNoClick()"
                    cdkFocusInitial>Aceptar</button>
        </div>
    </div> <!-- End case practiceSuccess -->

    <div *ngSwitchCase="'practiceError'">
        <h3 mat-dialog-title><mat-icon>error</mat-icon> Error</h3>
        <div mat-dialog-content>
            <p>Hubo un error al crear la práctica. Por favor, inténtelo nuevamente.</p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
        </div>
    </div> <!-- End case practiceError -->

    <div *ngSwitchDefault>
        <h3 mat-dialog-title><mat-icon>error</mat-icon> Error</h3>
        <div mat-dialog-content>
            <p>{{data.text}}</p>
        </div>

        <div *ngSwitchCase="'error-dispensed'">
            <h3 mat-dialog-title><mat-icon>error_outline</mat-icon> Atención</h3>
            <div mat-dialog-content>
                <p>La receta ya se ha dispensado y no es posible eliminarla</p>
            </div>
            <div mat-dialog-actions align="end">
                <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
            </div>
        </div> <!-- End case noPrescriptions -->

        <div *ngSwitchDefault>
            <h3 mat-dialog-title><mat-icon>error</mat-icon> Error</h3>
            <div mat-dialog-content>
                <p>{{data.text}}</p>
            </div>
            <div mat-dialog-actions align="end">
                <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
            </div>
        </div> <!-- End default switch -->
    </div>