<div class="confirm-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Confirmación de Actualización</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="message-container" [class.success]="isSuccess" [class.error]="!isSuccess && !isLoading">
                <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

                <mat-icon *ngIf="isSuccess" class="success-icon">check_circle</mat-icon>
                <mat-icon *ngIf="!isSuccess && !isLoading" class="error-icon">error</mat-icon>

                <p>{{ message }}</p>
            </div>

            <div class="form-actions">
                <button mat-raised-button color="primary" [routerLink]="['/auth/login']">Volver al Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>